{% extends 'templates/base.html.twig' %}
{% block id_body %}background_login{% endblock %}
{% block content %}
<div id="block_login" class="container-fluid text-center">
    <div class="row">
        <form id="form_login" class="container">
            <div class="form-group">
                <label for="login_mdp">PASSWORD : </label>
                <input type="password" class="form-control-sm" name="login_mdp" id="login_mdp" />
                <p id="error_mdp" class="d-none"></p>
            </div>
            <div class="form-group">
                <button class="btn btn-success pl-5 pr-5">Enter</button>
            </div>
            <a href="/signup">Sign Up</a> - <a href="/recovery">Recovery</a> 
        </form>
    </div>
</div>
{% endblock %}
