{% extends 'templates/base.html.twig' %}
{% block content %}
<p>Inscription</p>
<form id="form_signup">
    <div class="form-group">
        <label for="firstname_signup">Nom</label>
        <input type="text" name="firstname" id="firstname_signup" />
    </div>
    <div class="form-group">
        <label for="lastname_signup">Prénom</label>
        <input type="text" name="lastname" id="lastname_signup" />
    </div>
    <div class="form-group">
        <label for="email_signup">Email</label>
        <input type="email" name="email" id="email_signup" />
    </div>
    <div class="form-group">
        <button>Valider</button>
    </div>
</form>
<p><a href="/">Retour à l'accueil</a>
{% endblock %}
