<!DOCTYPE html>
<html lang="FR">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <meta http-equiv="X-UA-Compatible" content="ie-edge">
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheets" href="assets/css/bootstrap431.min.css"/>
        <link rel="stylesheets" href="assets/css/mystyle.css"/>
    </head>
    <body>
        <main>
            {% block content %}
            {% endblock %}
        </main>
    </body>
    <footer>
        <p>2019 - Copyright Laisné Jérémie</p>
    </footer>
    <script src="/assets/js/jquery341.min.js"></script>
    <script src="/assets/js/bootstrap431.min.js"></script>
    <script src="/assets/js/myjs.js"></script>
</html>

