/* feuille de style personnalisé */

@font-face{
    font-family: 'Khand';
    src: url('./../fonts/khand-medium.ttf');
}

body, footer{
    font-family: 'Khand','Courier New', Courier, monospace;
    background-color: #000;
    color: #fff;
}

tbody::before
{
    content: '';
    display: block;
}

tbody::after
{
    content: '';
    display: block;
    height: 15px;
}

tfoot::before
{
    content: '';
    display: block;
    height: 25px;
}

.home_forum tbody tr {
    padding: 5px;
    border-bottom: 2px solid rgb(23, 31, 46);
    margin: 20px;
}

a:hover{
    text-decoration: none;
}

a span:hover{
    color: orange;
}

#footer{
    position: absolute;
    margin: 0;
}

input.error{
    border: 3px inset red;
}

.border-3 {
    border-width:3px !important;
}

#background_light{
    background-color: #ddd;
}

.background_black_dark{
    background-color: #111;
}

.background_black_light{
    background-color: #333;
}

.background_grey{
    background-color:#30394B 
}

.color_grey{
    color: #6B7281;
}

.color_red{
    color: #B22222;
}

.color_white{
    color: #fff;
}

.fs_20{
    font-size: 20px;
}

#background_login{
    background-image: url('./../img/dollars.gif');
    background-repeat: no-repeat;
    background-position-x: center;
}

#block_login{
    margin-top: 400px;
}

.opacity-05{
    opacity: .5;
}

.col-115{
    min-width: 115px;
}

.col-150{
    min-width: 150px;
}

.col-550{
    min-width: 550px;
}

.breadcrumb{
    background-color: #333;
}

#table_avatar table tr td:hover{
    opacity: 1;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.background_is_pin {
    background-color: #CF3919;
    opacity: 0.6;
    filter: alpha(opacity=60);
}

/*
 **
 ** Pagination
 */
div .pagination {
    display: flex;
}
.pagination {
    margin: auto;
    margin-bottom: initial;
    padding: 1rem;
    font-size: 2.5rem;
    font-weight: 700;
    text-shadow: 0 1px 1px hsla(0, 0%, 0%, 0.1);
  
    /* set custom properties for the different letters and their colors */
    --d: #4285f4;
    --o: #ea4335;
    --l: #fbbc05;
    --a: #34a853;
    --r: #4285f4;
    --s: #ea4335;
  
    /* custom property for the current page */
    --current: #ea4335;
  
    display: grid;
    grid-auto-flow: column;
}
.pagination a {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.pagination a span:last-of-type {
    font-weight: initial;
    font-size: 1.5rem;
    color: #ea4335;
} 
.pagination a:hover span:last-of-type {
    text-decoration: underline;
}
.pagination a.current {
    cursor: initial;
}
.pagination a.current span:last-of-type {
    color: initial;
    text-decoration: none;
}